<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/adminLogin_styles.css" type="text/css">
    <title>Admin | Login</title>
</head>
<body>
    <div class="container">
        <div class="login-card">
            <p class="title">Admin  Login</p>
        <form action="/admin/login" method="post">
            <input class="form-control mg-bottom" name="adminId" type="email" placeholder="Admin ID"/>
            <input class="form-control mg-bottom" name="key" maxlength="11" type="text" placeholder="xxx-xxx-xxx"/>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        </div>
    </div>
</body>
</html>