<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbar_styles.css" type="text/css">
    <link rel="stylesheet" href="/css/beanbutton.css" type="text/css">
    <link rel="stylesheet" href="/css/cpanel_styles.css" type="text/css">
    <script src="/socket.io/socket.io.js"></script>

    <title>Admin | create test</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark nav-tweaks">
        <div class="container-fluid">
            <a class="navbar-brand font-brand" href="/">TestMate</a>
            <form method="post" action="/logout">
                <button type="submit" class="nav-button-logout">Logout</button>
            </form>
        </div>
    </nav>
    <div class="container cpanel-create-test">
        <div class="custom-flex">
            <div class="set-values">
                <p class="heading">CREATE A TEST</p>
                <div class="line"></div>

                <input id="title-test-id" class="form-control title-test" type="text" placeholder="Title of the test" />

                <input id="num-ques-id" class="form-control num-ques" type="number" placeholder="Num. of Questions" />

                <button id="button-test-id" class="bean-button button-test">Generate Questions</button>
            </div>
            <div class="reset-button">
                <button id="reset" class="bean-button-orange">Reset</button>
            </div>
        </div>
    </div>
    <div id="ques-box-id" class="container ques-box ques-box-height-auto">
        <div class="r1">
            <div class="custom-flex2">
                <div class="notif-text">
                    <p id="notif-text-p">No Questions Generated</p>
                </div>
            </div>
        </div>
        <div class="r2">
            <div id="ques-flex-id" class="container ques-flex">
                <ul class="list-ques" style="list-style-type:none">

                </ul>
            </div>
        </div>

    </div>
   
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
    <script>
        "use strict";
        $(document).ready(() => {
            var $titleQues = $('#title-test-id').val();
            var $numQues = $('#num-ques-id').val();
            var genQues = $('#button-test-id');
            
            //content variable  ***************************************
            var content = '<li id="this-list">'+'<div class=" container tmp">' +
                '<div class="form-group">' +
                '<label for="exampleFormControlTextarea1" id="save-status-id" class="save-status">Question:</label>' +
                '<textarea class="form-control" id="question-id" rows="3"></textarea>' +
                '</div>' +
                '<div class="custom-flex-tmp">' +
                '<div class="row row1">' +
                '<div class="col-md-6">' +
                '<label class="sr-only" for="inlineFormInputGroup">option</label>' +
                '<div class="input-group mb-2">' +
                '<div class="input-group-prepend">' +
                '<div class="input-group-text">A</div>' +
                '</div>' +
                '<input type="text" class="form-control" id="option-a-id" placeholder="Option A">' +
                '</div>' +
                '</div>' +
                '<div class="col-md-6">' +
                '<label class="sr-only" for="inlineFormInputGroup">option</label>' +
                '<div class="input-group mb-2">' +
                '<div class="input-group-prepend">' +
                '<div class="input-group-text">B</div>' +
                '</div>' +
                '<input type="text" class="form-control" id="option-b-id" placeholder="Option B">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="row row2">' +
                '<div class="col-md-6">' +
                '<label class="sr-only" for="inlineFormInputGroup">option</label>' +
                '<div class="input-group mb-2">' +
                '<div class="input-group-prepend">' +
                '<div class="input-group-text">C</div>' +
                '</div>' +
                '<input type="text" class="form-control" id="option-c-id" placeholder="Option C">' +
                '</div>' +
                '</div>' +
                '<div class="col-md-6">' +
                '<label class="sr-only" for="inlineFormInputGroup">option</label>' +
                '<div class="input-group mb-2">' +
                '<div class="input-group-prepend">' +
                '<div class="input-group-text">D</div>' +
                '</div>' +
                '<input type="text" class="form-control" id="option-d-id" placeholder="Option D">' +
                '</div>' +
                '</div>' +
                '</div>' +

                '<div class="row row3">' +
                '<div class="col-md-6">' +
                '<div class="row">' +
                '<legend class="col-form-label col-sm-2 pt-0">Answer:</legend>' +
                '<input id="ans-id" class="form-control ans" type="text" maxlength="1" placeholder="A/B/C/D" />'+
                '</div>' +
                '</div>' +
                '<div class="col-md-6 save-btn">' +
                
                '<button id="save" class="bean-button">save</button>' +
                
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>'+'</li>';

            //******************************************************************************

            // socket connection ############################
            const socket = io();
                    
            // events
            socket.on('save status change', function(){
                $(this).parentsUntil('#this-list').find('#save-status-id').removeClass('save-status');
                $(this).parentsUntil('#this-list').find('#save-status-id').addClass('save-status-saved');
            });

            // ###############################################
            
            // variables
            var testTitle;

            // onclicking generate questions button
            genQues.click(function () {
                $('#notif-text-p').text($('#title-test-id').val());
                testTitle = $('#title-test-id').val();
                for (var i = 0; i < $('#num-ques-id').val(); i++) {
                    $('.list-ques').append(content);
                }
                
                // store title and no.of ques to db
                socket.emit('create test', $('#title-test-id').val(), $('#num-ques-id').val());

                //clear fields
                $('#title-test-id').val('');
                $('#num-ques-id').val('');
            });
            
            // reset the title heading
            $('#reset').click(function(){
                $('.r2').empty();
                $('#notif-text-p').text('No Questions Generated');
            });
            
            // on clicking save button
            $(".list-ques").on('click', '#save', function(){
                const question = {
                    question: $(this).parentsUntil('#this-list').find('#question-id').val(),
                    option_a: $(this).parentsUntil('#this-list').find('#option-a-id').val(),
                    option_b: $(this).parentsUntil('#this-list').find('#option-b-id').val(),
                    option_c: $(this).parentsUntil('#this-list').find('#option-c-id').val(),
                    option_d: $(this).parentsUntil('#this-list').find('#option-d-id').val(),
                    answer: $(this).parentsUntil('#this-list').find('#ans-id').val()
                };
                socket.emit('save question', question, testTitle);
            });

    
        });// main scope closing tag
    </script>
</body>

</html>