<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Login | Testmate</title>
  </head>
  <body>
		<div class="bg-fill back-gradient">
			<div class="login-card">
				<p class="login-title">LOGIN</p>
				<div class="container" style="margin-top:30px">
					<div class="row">
						<div class="col-md-6">
							<button class="fa fa-google" style="width:100%"></button>
						</div>
						<div class="col-md-6">
							<button class="fa fa-facebook" style="width:100%"></button>
						</div>
					</div>
				</div>

				<div class="container" style="margin-top:50px">
					<div class="row">
						<div class="col-md-5">
							<div style="height:1px; background:grey; margin:0px"></div>
						</div>
						<div style=" margin:0 auto">
							<p style="color:grey">or</p>
						</div>
						<div class="col-md-5">
							<div style="height:1px; background:grey; margin:0px"></div>
						</div>
					</div>
				</div>
				
				<div class="container">
					<form action="/login" method="post">
							<input type="text" class="form-control mg-bottom" name="email" placeholder="Email" />
						<input type="password" class="form-control mg-bottom-lastitem" name="password" placeholder="Password" />
						<button type="submit" class="btn btn-primary" style="margin-top:20px">Login</button>
					</form>
				</div>

			</div>
		</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
