<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/fonts/fonts.css" type="text/css">
     <title>singup successful</title>
    <style>
       
        .font-concert {
            font-family: 'Concert One', cursive;
            font-size: 70px;
        }
        .text-center {
            position: relative;
            text-align: center;
            color: white;
        }
        header.masthead {
            position: relative;
            background-color: #343a40;
            background: url("assets/images/signupsuccess.jpg") no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            padding-top: 8rem;
            padding-bottom: 8rem;
            height:91vh
        }
    </style>
  </head>
  <body class="container-fluid" style="padding:0px; margin:0px">
    
    
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/">TestMate</a>
                <a class="btn btn-primary" href="/login">Sign In</a>
            </div>
        </nav>
      <header class="masthead text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto" style="position: relative">
                    <h1 class="font-concert">signup was successful <br/>Login to continue.</h1>
                </div>
                
            </div>
            <a href="#" type="button" class="btn btn-lg btn-success" style="margin-top:80px">Login now</a>
        </div>    
    
      </header>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>