<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/signup_styles.css" type="text/css">
    <title>Signup</title>
    
</head>
<body>
    <div class="container">
        <div class="login-card">
            <p class="title">Signup</p>
						<form action="/signup" method="post" id="signup-form">
							<input type="text" class="form-control mg-bottom" name="firstname" placeholder="Firstname" required/>
							<input type="text" class="form-control mg-bottom" name="lastname" placeholder="Lastname"/>
							<input type="text" class="form-control mg-bottom" name="phone" placeholder="Phone" maxlength="10" required/>
							<input type="email" class="form-control mg-bottom" name="email" placeholder="Email" required/>
							<input id="pass-id" type="password" class="form-control mg-bottom" name="password" placeholder="Password" required/>
							<input id="con-pass-id" type="password" class="form-control mg-bottom" name="confirmPassword" placeholder="Confirm Password" required/>
							<textarea class="form-control" rows="3" cols="50" placeholder="About" maxlength="160" name="about" required></textarea>
							<button type="submit" class="btn btn-primary" style="margin:20px 20px 20px 0px">Signup</button>
						</form>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('#signup-form').submit(function(e){
            if($('#pass-id').val() !== $('#con-pass-id').val()){
                e.preventDefault();
                alert('Passwords doesn\'t match. Confirm password again.');

            }
        });
        });
        
    </script>
</body>
</html>