<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/signup_styles.css" type="text/css">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <div class="login-card">
            <p class="title">Signup</p>
						<form action="/signup" method="post">
							<input type="text" class="form-control mg-bottom" name="firstname" placeholder="Firstname" required/>
							<input type="text" class="form-control mg-bottom" name="lastname" placeholder="Lastname"/>
							<input type="text" class="form-control mg-bottom" name="phone" placeholder="Phone" maxlength="10" required/>
							<input type="email" class="form-control mg-bottom" name="email" placeholder="Email" required/>
							<input type="password" class="form-control mg-bottom" name="password" placeholder="Password" required/>
							<input type="password" class="form-control mg-bottom" name="confirmPassword" placeholder="Confirm Password" required/>
							<textarea class="form-control" rows="3" cols="50" placeholder="About" maxlength="160" name="about" required></textarea>
							<button type="submit" class="btn btn-primary" style="margin:20px 20px 20px 0px">Signup</button>
						</form>
        </div>
    </div>
</body>
</html>