.back-gradient {
  background: #136a8a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg-fill {
  height:100vh;
  width:100vw;
  padding-top:5px;
}

.login-card {
    background: #E0E0E0;
    height: auto;
    width: 400px;
    margin: 50px auto 0px;
    box-shadow: 5px 5px 15px black;
    border-radius:10px;
}

.login-title {
  font-family:sans-serif;
  padding:10px;
  text-align: center;
  font-size: 20px;
  background: lightgray;
  font-weight:900;
  letter-spacing: 1.5px;
  border-radius: 10px;
  color: #242424;
}

.mg-bottom {
  margin-bottom:12px;
}
.mg-bottom-lastitem {
  margin-bottom:25px;
}

/* facebook and google login buttons */
.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-google {
  background: #dd4b39;
  color: white;
  border-radius: 25px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 25px;
}